In [105]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [106]:
df = pd.read_csv("C:\\Users\\Eli\\Desktop\\news_dataset_processed.csv")
df

,Unnamed: 0,title,content,publication,label
0,0,muslim bust they steal million in gov t benefit,print they should pay all the back all the mon...,100percentfedup,fake
1,1,re why do attorney general loretta lynch plead...,why do attorney general loretta lynch plead th...,100percentfedup,fake
2,2,break weiner cooperate with fbi on hillary ema...,red state fox news sunday report this morning ...,100percentfedup,fake
3,3,pin drop speech by father of daughter kidnap a...,email kayla mueller be a prisoner and torture ...,100percentfedup,fake
4,4,fantastic trump s point plan to reform healthc...,email healthcare reform to make america great ...,100percentfedup,fake
...,...,...,...,...,...
27980,28706,An eavesdropping Uber driver saved his 16-year...,Uber driver Keith Avila picked up a p...,Washington Post,real
27981,28707,Plane carrying six people returning from a Cav...,Crews on Friday continued to search L...,Washington Post,real
27982,28708,After helping a fraction of homeowners expecte...,When the Obama administration announced a...,Washington Post,real
27983,28709,"Yes, this is real: Michigan just banned bannin...",This story has been updated. A new law in...,Washington Post,real
27984,28710,What happened in Washington state after voters...,The nation’s first recreational marijuana...,Washington Post,real

In [107]:
# vectorizer = TfidfVectorizer(stop_words='english',ngram_range=(1,2))
# tfidf = vectorizer.fit_transform(df['content'].values.astype('U'))
tfidf = TfidfVectorizer(stop_words='english',ngram_range=(1,2))
vectorizer = tfidf.fit(df.content.values.astype('U'))
transformed_text = vectorizer.transform(df.content.values.astype('U'))
transformed_title = vectorizer.transform(df.title.values.astype('U'))

In [108]:
print(transformed_text)
#print values in tfidf form

(0, 5879608)	0.1622058883543838
  (0, 5878599)	0.029713310210586208
  (0, 5726220)	0.1284118238378406
  (0, 5724926)	0.030512431528905967
  (0, 5599284)	0.1622058883543838
  (0, 5597476)	0.03877070501395868
  (0, 5227470)	0.1622058883543838
  (0, 5227415)	0.08631199376961447
  (0, 5025320)	0.15154504795558352
  (0, 5025265)	0.1622058883543838
  (0, 5025168)	0.15500155943425506
  (0, 4902420)	0.1622058883543838
  (0, 4902371)	0.10842840773925667
  (0, 4648413)	0.1622058883543838
  (0, 4648395)	0.1275802515066895
  (0, 4400763)	0.15154504795558352
  (0, 4399009)	0.04331315956859385
  (0, 4356341)	0.08598357542156239
  (0, 4333529)	0.14811302391609954
  (0, 4333389)	0.07502772378584949
  (0, 4075714)	0.1622058883543838
  (0, 4075457)	0.06980719548572221
  (0, 3932364)	0.1559696964949125
  (0, 3932112)	0.06731516790352218
  (0, 3806188)	0.1210765687037241
  :	:
  (27984, 215547)	0.019334774782310608
  (27984, 209088)	0.03498920696853297
  (27984, 208629)	0.015650676563626502
  (27984, 205610)	0.03498920696853297
  (27984, 205593)	0.03498920696853297
  (27984, 205564)	0.03268957188773265
  (27984, 205561)	0.07354594399977915
  (27984, 205546)	0.03364400668092192
  (27984, 205511)	0.03498920696853297
  (27984, 205469)	0.044646578392176194
  (27984, 174305)	0.03268957188773265
  (27984, 174156)	0.013673598088778839
  (27984, 140443)	0.03498920696853297
  (27984, 140421)	0.02660966744513564
  (27984, 132159)	0.03498920696853297
  (27984, 131851)	0.014461983557326976
  (27984, 61820)	0.03364400668092192
  (27984, 61472)	0.02999917131251055
  (27984, 60466)	0.01972201793226965
  (27984, 59360)	0.03364400668092192
  (27984, 58123)	0.010449573988118254
  (27984, 56507)	0.026233680024711555
  (27984, 56485)	0.011752317197425205
  (27984, 55332)	0.03498920696853297
  (27984, 54636)	0.011142917137256667

In [109]:
def get_tfidf_term_scores(feature_names):
    '''Returns dictionary with term names and total tfidf scores for all terms in corpus'''
    term_corpus_dict = {}
    # iterate through term index and term 
    for term_ind, term in enumerate(feature_names):
        term_name = feature_names[term_ind]
        term_corpus_dict[term_name] = np.sum(transformed_title.T[term_ind].toarray())
        
    return term_corpus_dict

In [110]:
# transformer = TfidfTransformer(norm=None)
# tfidf_scores_transformed = transformer.fit_transform(counts)
# print(tfidf_scores_transformed)